{
    "presets": [["@babel/preset-env", { "targets": "defaults" }]],
    "plugins": [
      ["@babel/transform-runtime"],
      [
        "module-resolver",
        {
          "root": ["./src"],
          "alias": {
            "src": "./src",
            "main": "./src/main",
            "static": "./src/static",
            "utils": "./src/utils",
            "workers": "./src/workers",
            "modules": "./src/modules",
            "components": "./src/components",
            "pages": "./src/pages",
            "OLD": "./OLD-sources"
          }
        }
      ]
    ]
}
